<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@3"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@4"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <!-- element-ui -->
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/theme-chalk/index.css" rel="stylesheet">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="../static/css/base.css">
    <title>{{title}}</title>
</head>
<body>
    <div style="height: 100%;">
        <!-- flask的语法，把下面的html内嵌到index.html -->
        {% include "data.html" %}
    </div>
</body>
</html>